#header {
  background-color: white !important;
  border-bottom: 2px solid;

  .logo {
    margin-right: 10px;
  }
  .welcome-email {
    font-size: 15px;
    margin-right: 5px;
  }
  .authentication-container {
    width: 100%;
    text-align: right;
  }
}
