.video-form {
  width: 30%;
  border: 2px solid #eee;
  padding: 50px 12px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  span.title {
    font-weight: bold;
    position: absolute;
    top: -15px;
    background-color: #fff;
    padding: 0 10px;
  }

  .share-video {
    width: 100%;
  }
}

#videos-list{
  .video-item {
    height: 250px;
    margin: 25px 15px;

    .video-detail {
      overflow-y: scroll;
      height: 100%;

      .title{
        color: #e65252;
        font-weight: bold;
      }

      .shared-by{
        font-size: 15px;
        span{
          font-weight: bold;
        }
      }

      .description {
        font-size: 15px;
        margin-top: 15px;
      }
    }
  }
}
